#box1 {
    border: solid;
    padding: 10px;
}

#box2 {
    border: solid;
    padding: 10px;
}

#txt {
    color: #0000ff;
    font-size: 20px;
    font-weight: bold;
}

#callback {
    background: #ff0000;
    padding: 10px;
}