#photoList li {
    display: none;
    position: absolute;
    list-style: none;
}

#photoList img {
    width: 600px;
}


/* code */
.code {
    position: absolute;
    top: 600px;
    width: 100%;
}