#photoList img {
    width: 580px;
}

#photoList li {
    position: absolute;
    display: none;
    list-style: none;
}

#thumbnailList {
    position: relative;
    margin-left: 10px;
    top: 0px;
    left: 600px;
    width: 700px;
}

#thumbnailList li {
    width: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.thumbnail {
    padding: 0;
}

.frame {
    border: 3px solid #ccc;
}

.active {
    border: 3px solid red;
}